.titleText {
  color: orange;
}

.chatform{
  border: 1px solid #222929;
  background: white;
  width: 100%;
  margin: auto;
}

.footer, .copyrights {
  color: white;
  margin: auto;
}

.footer:hover {
  color: orange;
  text-decoration: none;
}
