<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="titleText">
      Soy el Robot myyme, una entidad de conversación artificial, comúnmente llamado ChatBot.
    </div>
  </div>
  <div class="row">
      <div class="titleText">
      Estoy aquí para aprender contigo.
    </div>
  </div>
  <div class="row">
      <div class="titleText">
      Pregúntame lo que quieras, responderé lo que sé.
    </div>
  </div>
  <div class="row">
    <div class="chatform">
      <message-list [messages]="messages"></message-list>
      <message-form [message]="message" [messages]="messages"></message-form>
    </div>
  </div>
  <div class="row">
    <div class="copyrights">
      &copy; <a class="footer" href="https://davidmartinezros.com" target="_blank" rel="noopener">davidmartinezros.com</a>, 2018<br/>
      <a class="footer" href="mailto:davidnezan@gmail.com">Mail <i class="icon fa fa-envelope"></i></a>
      <a class="footer" href="https://www.linkedin.com/in/davidmartinezros/" target="_blank" rel="noopener">Linkedin <i class="icon fa fa-linkedin-square"></i></a>
      <a class="footer" href="http://github.com/davidmartinezros" target="_blank" rel="noopener">Github <i class="icon fa fa-github-alt"></i></a>
    </div>
  </div>
</div>
